<div mat-dialog-title>
    <h1>Registro de Producto</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Sku</mat-label>
                <input matInput type="text" placeholder="00334545" formControlName="sku">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> Nombre producto</mat-label>
                <input matInput placeholder="Pantalon XL" formControlName="name">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Descripcion</mat-label>
                <input matInput type="text" placeholder="PantalonXLGris" formControlName="description">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Fecha de Ingreso</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label><b>Genero</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="others">Others</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Almacen</mat-label>
                <mat-select formControlName="store">
                    <mat-option *ngFor="let val of education" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Color</mat-label>
                <input matInput placeholder="Gris/Negro" formControlName="color">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input matInput placeholder="4" type="number" formControlName="quantity">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Talla</mat-label>
                <input matInput placeholder="CH" type="text" formControlName="size">
                <mat-hint>XCH-XXL</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ?'Actualizar':'Guardar'}}</button>
    </div>
</form>